@charset "utf-8";

@import "vars";
@import "init";
@import "components";
@import "utilities";

html, body{
	background: $color-dark-purple none;
	font-family: Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #fff;
	line-height: 1.0;
	letter-spacing: 0.05em;
	min-width: 320px;
	height: 100%;
}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
}

a.tdu:hover{
	text-decoration: none;
}

#wrapper{
	background: #f6f6f6 none;
	color: #000;
	width: 100%;
	overflow-x: hidden;
}
