$color-purple: #3d0c71;
$color-purple-blue: #351976;
$color-purple-red: #40086f;
$color-dark-purple: #230944;
$color-pink: #e60c7a;
$color-dark-pink: #a10855;
$color-yellow: #ffc436;
$color-thin-yellow: #fff2d4;
$color-dark-yellow: #332400;
$color-gray: #666;
$color-thin-gray: #eee;
$color-light-gray: #ccc;
$color-lighter-gray: #999;
$color-dark-gray: #212121;
